/*
This is the css style of the web pages.
*/

/* ############# MAIN PAGES ELEMENTS ######################## */

/*Define body for pages that doen't fit in a frame. Set minimun resolution for the page and no margin or padidng*/
body.noFrame {
    margin:0; 
    padding:0 0%; 
    min-height: 650px;
    min-width: 1024px;
}
                
/*Define top header coloured bar*/
#topHeader {
    width:100%; 
    height: 90px;
    background: #00A4FF;
    border-bottom-color: #356e94; 
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/*Define left header coloured bar*/
#LeftHeader {
    width: 150px; 
    padding-bottom: 30%;
    margin: 0px;
    background: #00A4FF;
    float : left;
}

/*Define meteocal logo */
#logo { 
    width: 300px;
    margin: 0px;
    padding-top: 40px; 
    padding-left: 46px;
    background: #00A4FF;
    font-family: "Comic Sans MS", cursive sans-serif;
    float : left;
}

/*define max size for the central frame*/
#centralFrame {
    border: none;
    width: 82%; 
    height : 500px;    
}

/*define padding for the button lists*/
ul.buttonList {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top:  50px;
}

/*define button style*/

#leftBarButton {
    background: #141314;
    background-image: -webkit-linear-gradient(top, #141314, #425f70);
    background-image: -moz-linear-gradient(top, #141314, #425f70);
    background-image: -ms-linear-gradient(top, #141314, #425f70);
    background-image: -o-linear-gradient(top, #141314, #425f70);
    background-image: linear-gradient(to bottom, #141314, #425f70);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    width: 130px;
    padding: 10px 20px 10px 20px;
    border: solid #3c454a 1px;
    text-decoration: none;
}

#leftBarButton:hover {
    background: #949ca1;
    text-decoration: none;
}



/* ############# INDEX PAGE(guest home) ######################## */


/*Define various div block positions */

div.loginForm {     
    padding-top: 20px;
    padding-left: 64%;
    background-color:#00A4FF;           
} 

div.rights  {     

    padding-left: 64%;
} 

div.guestFrame {     
    padding-top: 2%;
    padding-left: 25%;                    
} 

/*In this section are define singular elements throught the id model.*/

#passwordInput {
    padding-left: 90px;
}

#forgotten {
    padding-left: 155px;
    font-size: 13px;
}

