/*
This is the css style of the web pages.
*/

/* ############# MAIN PAGES ELEMENTS ######################## */

/*Define body for pages that doen't fit in a frame. Set minimun resolution for the page and no margin or padidng*/
body.noFrame {
    margin:0; 
    padding:0 0%; 
    min-height: 650px;
    min-width: 1024px;
}
                
/*Define top header coloured bar*/
#topHeader {
    width:100%; 
    height: 90px;
    background: #00A4FF;
    border-bottom-color: #356e94; 
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/*Define left header coloured bar*/
#LeftHeader {
    width: 150px; 
    padding-bottom: 30%;
    margin: 0px;
    background: #00A4FF;
    float : left;
}

/*Define meteocal logo */
#logo { 
    width: 320px;
    margin: 0px;
    padding-top: 5px; 
    padding-left: 50px;
    background: #00A4FF;
    font-family: "Comic Sans MS", cursive sans-serif;
    float : left;
}

/*define max size for the central frame*/
#centralFrame {
    border: none;
    width: 82%; 
    height : 500px;    
}

/*define padding for the button lists*/
ul.buttonList {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top:  50px;
}

/*define button style*/

#leftBarButton {
    background: #141314;
    background-image: -webkit-linear-gradient(top, #141314, #425f70);
    background-image: -moz-linear-gradient(top, #141314, #425f70);
    background-image: -ms-linear-gradient(top, #141314, #425f70);
    background-image: -o-linear-gradient(top, #141314, #425f70);
    background-image: linear-gradient(to bottom, #141314, #425f70);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    width: 130px;
    padding: 10px 20px 10px 20px;
    border: solid #3c454a 1px;
    text-decoration: none;
}

#leftBarButton:hover {
    background: #949ca1;
    text-decoration: none;
}



/* ############# INDEX PAGE(guest home) ######################## */


/*Define various div block positions */

div.loginForm {     
    padding-top: 20px;
    padding-left: 64%;
    background-color:#00A4FF;           
} 

div.rights  {     

    padding-left: 64%;
} 

div.guestFrame {     
    padding-top: 2%;
    padding-left: 25%;                    
} 

/*In this section are define singular elements throught the id model.*/

#passwordInput {
    padding-left: 90px;
}

#forgotten {
    padding-left: 155px;
    font-size: 13px;
}

/* ############# USER MAIN PAGE ELEMENTS ######################## */

div.logoutForm {     
    padding-top: 40px;
    padding-left: 90%;
    background-color:#00A4FF;           
} 

#userCalendar {  
    width: 300px;
    margin: 0px;
    padding-top: 30px; 
    padding-left: 100px;
    background: #00A4FF;
    font-family: "Comic Sans MS", cursive sans-serif;
    float : left;
}

/* ############# REGISTRATION ELEMENTS ######################## */

#registrationForm {  
    width:380px;
}

/* ############# ADD EVENT ELEMENTS ######################## */

#eventForm {     
    float:left; 
    display:block; 
    width:600px; 
    height:800px; 
    background-color: #3c454a; 
    text-align: center;
}

#weatherForm {     
    display:block; 
    width:400px; 
    height:700px; 
    margin-left: 600px;
    background-color:firebrick;    
    text-align: center
}

/* ### Button onOff ### */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.header {
    background-color:#141314;
    float : left;
}

#header {
    background-color:#141314;
    float : left;
}

/* ### end Button onOff ### */